{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<img src="/static/images/banner.png" class="img-fluid" alt="Banner">
<p style="text-align: center;">
    Welcome to IET Connect! With the help of this website you can download question papers of previous years of any semester.
</p>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem; align-content: center; margin: 10%;">
    <img src="static/images/exam.jpg" class="card-img-top" alt="Question Papers">
    <div class="card-body">
      <h5 class="card-title">Download PYQs</h5>
      <p class="card-text">Download previous years question papers that may help you prepare for your upcoming semester examination.</p>
      <a href="download" class="btn btn-primary">Download</a>
    </div>
  </div>
{% endblock body %}